<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Joiefull.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9AECE82B2EE1BE6B0014AC10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AECE8382EE1BE6D0014AC10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AECE8422EE1BE6D0014AC10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
